* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: rgb(33, 110, 40);
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}
h2, p{
    color: rgb(76, 155, 83);
    font-weight: 500;
    opacity: 0.8;
}
h3{
    color: rgb(33, 110, 40);
    font-weight: 600;
    opacity: 0.8;
}
main{
    font-family: "Poppins", sans serif;
    min-height: 100vh;
    background: linear-gradient(to right top, rgb(96, 194, 137),rgb(96, 194, 104));
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
        );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}
.circle1, .circle2, .circle3, .circle4{
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.3)
      );
      height: 15rem;
      width: 15rem;
      position: absolute;
      border-radius: 50%;
}
.circle1 {
    top: 5%;
    right: 15%;
}
.circle2 {
    bottom: 4%;
    left: 10%;
}
.circle3 {
    top: 5%;
    left: 0%;
}
  .circle4 {
    bottom: 25%;
    right: 3%;
}
.main-window{
      flex: 1;
      display: flex;
      flex-direction: colum;
      align-items: flex-start;
      justify-content: space-evenly;
      text-align: center;
      background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      border-radius: 2rem;
      
  }
.profile img{
    margin: 1rem;
    width: 6rem;
    border-radius: 50%;
}
.link {
    display: flex;
    margin: 1rem 0rem;
    padding: 1rem 1rem;
    align-items: center;
  }
  .link h2 {
    padding: 0rem 2rem;
  }
.link img{
    width: 2.4rem;
}
.skills{
  
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
  padding: 1rem 1rem;
  align-items: center;
  background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
  border-radius: 2rem;
}
  .portfolio{
      flex: 2;
      margin: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }
  .status {
    margin-bottom: 3rem;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.1)
      );
      border: none;
      width: 80%;
      padding: 0.5rem;
      border-radius: 2rem;
  }
  .card {
    display: flex;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.2)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
  }
  .progress-java {
    background: linear-gradient(to right top, #65dfc9, #6cdaeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    color: #65dfc900;
  }
  .progress-java::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 80%;
  }
  .progress-kotlin {
    background: linear-gradient(to right top, #65dfc9, #6cdaeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    color: #65dfc900;
  }
  .progress-kotlin::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 40%;
  }
  .progress-SQL {
    background: linear-gradient(to right top, #65dfc9, #6cdaeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    color: #65dfc900;
  }
  .progress-SQL::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 70%;
  }
  .progress-SQL {
    background: linear-gradient(to right top, #65dfc9, #6cdaeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    color: #65dfc900;
  }
  .progress-SQL::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 60%;
  }
  .progress-html {
    background: linear-gradient(to right top, #65dfc9, #6cdaeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    color: #65dfc900;
  }
  .progress-html::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 50%;
  }

  .progress-css {
    background: linear-gradient(to right top, #65dfc9, #6cdaeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    color: #65dfc900;
  }
  .progress-css::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 40%;
  }
  .progress-Js {
    background: linear-gradient(to right top, #65dfc9, #6cdaeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    color: #65dfc900;
  }
  .progress-Js::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 10%;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

